## Task: File Ingestion and Schema validation
Take any csv/text file of 2+ GB of your choice. --- (You can do this assignment on Google colab)

Read the file ( Present approach of reading the file )

Try different methods of file reading eg: Dask, Modin, Ray, pandas and present your findings in term of computational efficiency

Perform basic validation on data columns : eg: remove special character , white spaces from the col name

As you already know the schema hence create a YAML file and write the column name in YAML file. --define separator of
read and write file, column name in YAML

Validate number of columns and column name of ingested file with YAML.

Write the file in pipe separated text file (|) in gz format.

Create a summary of the file:

Total number of rows,

total number of columns

file size

In [2]:
import os
import time

In [3]:
os.path.getsize('Rate.csv')

1968829442

## Read in the data with Dask

In [4]:
from dask import dataframe as dd
start = time.time()
dask_df = dd.read_csv('Rate.csv')
end = time.time()
print("Read csv with dask: ",(end-start),"sec")

C:\Users\AMRAPALI\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Read csv with dask:  0.02343273162841797 sec

## Read in the data with Pandas

In [58]:
import pandas as pd
start = time.time()
df = pd.read_csv('Rate.csv')
end = time.time()
print("Read csv with pandas: ",(end-start),"sec")

Read csv with pandas:  69.18649768829346 sec

## Read in the data with Modin and Ray

In [7]:
df = dd.read_csv('Rate.csv')

In [59]:
import modin.pandas as pd
import ray
ray.shutdown()
ray.init()
start = time.time()
df = pd.read_csv('Rate.csv')
end = time.time()
print("Read csv with modin and ray: ",(end-start),"sec")

2022-11-11 22:15:57,173	INFO worker.py:1528 -- Started a local Ray instance.

Read csv with modin and ray:  66.02553606033325 sec

In [40]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 24 entries, BusinessYear to RowNumber
dtypes: object(10), float64(9), int64(5)

FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.

In [60]:
#No. of Rows
len(df.index)

12694445

In [42]:
#No, of Columns
len(df.columns)

24

In [43]:
# remove special character
df.columns=df.columns.str.replace('[#,@,&]','')

FutureWarning: The default value of regex will change from True to False in a future version.

In [44]:
#To remove white space from columns
df.columns = df.columns.str.replace(' ', '')

In [45]:
data=df.columns
data

Index(['BusinessYear', 'StateCode', 'IssuerId', 'SourceName', 'VersionNum',
       'ImportDate', 'IssuerId2', 'FederalTIN', 'RateEffectiveDate',
       'RateExpirationDate', 'PlanId', 'RatingAreaId', 'Tobacco', 'Age',
       'IndividualRate', 'IndividualTobaccoRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents',
       'RowNumber'],
      dtype='object')

In [46]:
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re

In [47]:
%%writefile utility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re
def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.load(stream, Loader=yaml.Loader)
        except yaml.YAMLError as exc:
            logging.error(exc)

def col_header_val(df,table_config):
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]','_',regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    expected_col.sort()
    df.columns =list(map(lambda x: x.lower(), list(df.columns)))
    df = df.reindex(sorted(df.columns), axis=1)
    if len(df.columns) == len(expected_col) and list(expected_col)  == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Overwriting utility.py

In [48]:
%%writefile store.yaml
file_type: csv
dataset_name: file
file_name: Rate
table_name: edsurv
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - BusinessYear
      - StateCode
      - IssuerId
      - SourceName
      - VersionNum
      - ImportDate
      - IssuerId2
      - FederalTIN
      - RateEffectiveDate
      - RateExpirationDate
      - PlanId
      - RatingAreaId
      - Tobacco
      - Age
      - IndividualRate
      - IndividualTobaccoRate
      - Couple
      - PrimarySubscriberAndOneDependent
      - PrimarySubscriberAndTwoDependents
      - PrimarySubscriberAndThreeOrMoreDependents
      - CoupleAndOneDependent
      - CoupleAndTwoDependents
      - CoupleAndThreeOrMoreDependents
      - RowNumber

Overwriting store.yaml

In [53]:
# Reading config file
import utility as util
config_data = util.read_config_file('store.yaml')

In [54]:
config_data

{'file_type': 'csv',
 'dataset_name': 'file',
 'file_name': 'Rate',
 'table_name': 'edsurv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'columns': ['BusinessYear - StateCode - IssuerId - SourceName - VersionNum - ImportDate - IssuerId2 - FederalTIN - RateEffectiveDate - RateExpirationDate - PlanId - RatingAreaId - Tobacco - Age - IndividualRate - IndividualTobaccoRate - Couple - PrimarySubscriberAndOneDependent - PrimarySubscriberAndTwoDependents - PrimarySubscriberAndThreeOrMoreDependents - CoupleAndOneDependent - CoupleAndTwoDependents - CoupleAndThreeOrMoreDependents - RowNumber']}

In [57]:
from dask import dataframe as dd
df_sample = dd.read_csv("Rate.csv",delimiter=',')
df_sample.head()

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16

In [65]:
#Reading the file using config file
file_type = config_data['file_type']
source_file = config_data['file_name'] + f'.{file_type}'

In [66]:
import pandas as pd
df = pd.read_csv(source_file,config_data['inbound_delimiter'])
df.head()

FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16

In [68]:
print("columns of files are:" ,df.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['businessyear', 'statecode', 'issuerid', 'sourcename', 'versionnum',
       'importdate', 'issuerid2', 'federaltin', 'rateeffectivedate',
       'rateexpirationdate', 'planid', 'ratingareaid', 'tobacco', 'age',
       'individualrate', 'individualtobaccorate', 'couple',
       'primarysubscriberandonedependent', 'primarysubscriberandtwodependents',
       'primarysubscriberandthreeormoredependents', 'coupleandonedependent',
       'coupleandtwodependents', 'coupleandthreeormoredependents',
       'rownumber'],
      dtype='object')
columns of YAML are: ['BusinessYear - StateCode - IssuerId - SourceName - VersionNum - ImportDate - IssuerId2 - FederalTIN - RateEffectiveDate - RateExpirationDate - PlanId - RatingAreaId - Tobacco - Age - IndividualRate - IndividualTobaccoRate - Couple - PrimarySubscriberAndOneDependent - PrimarySubscriberAndTwoDependents - PrimarySubscriberAndThreeOrMoreDependents - CoupleAndOneDependent - CoupleAndTwoDependents - CoupleAndThreeOrMoreDependents - RowNumber']

In [70]:
import datetime
import csv
import gzip

from dask import dataframe as dd
df = dd.read_csv('Rate.csv',delimiter=',')

# Write csv in gz format in pipe separated text file (|)
df.to_csv('Rate.csv.gz',
          sep='|',
          header=True,
          index=False,
          quoting=csv.QUOTE_ALL,
          compression='gzip',
          quotechar='"',
          doublequote=True,
          line_terminator='\n')

FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.

['C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\00.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\01.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\02.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\03.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\04.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\05.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\06.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\07.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\08.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\09.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\10.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\11.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\12.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\13.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\14.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\15.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\16.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\17.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\18.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\19.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\20.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\21.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\22.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\23.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\24.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\25.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\26.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\27.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\28.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\29.part',
 'C:/Users/AMRAPALI/Documents/internship/Week6/Rate.csv.gz\\30.part']

In [71]:
#number of files in gz format folder
import os
entries = os.listdir('Rate.csv.gz/')
for entry in entries:
    print(entry)

00.part
01.part
02.part
03.part
04.part
05.part
06.part
07.part
08.part
09.part
10.part
11.part
12.part
13.part
14.part
15.part
16.part
17.part
18.part
19.part
20.part
21.part
22.part
23.part
24.part
25.part
26.part
27.part
28.part
29.part
30.part

In [72]:
#size of the gz format folder
os.path.getsize('Rate.csv.gz')

12288